
  <div class="h-entry flex justify-center mb-5">

    <div class="rounded overflow-hidden shadow-lg max-w-xl w-full bg-white">
      <div class="px-6 py-4">
        <a class="u-url float-right text-xs" href="/notes/<%= post.slug %>">permalink</a>
        <div class="h-card p-author flex items-center" rel="author">
          <%= image_tag "niels.png", class: "u-photo w-10 h-10 rounded mr-3" %>
          <div class="text-sm">
            <p class="p-name text-gray-900 font-bold leading-none">Niels Linnemann</p>
            <% if post.published_at.present? %>
              <time class="dt-published uppercase text-gray-500 text-xs mt-2" datetime="<%= post.published_at.strftime("%Y-%m-%dT%H:%M:%S") %>"><%= l(post.published_at, format: :default) %></time>
            <% end %>
          </div>
        </div>

        <p class="e-content p-name text-gray-700 text-base mt-3">
          <%= post.content %>
        </p>
      </div>
    </div>
  </div>
