


<% @posts.each do |post| %>
  <a href="/nielsworkshop/<%= post.slug %>" style="color: inherit; text-decoration: inherit;">
    <div class="flex justify-center mb-4">

      <div class="rounded overflow-hidden shadow-lg">
        <% if post.images.any? %>
          <%= image_tag post.images.first.variant(resize: '450x450'), class: "w-full" %>
        <% end %>
        <div class="px-6 py-4">
          <% if post.title.present? %>
            <div class="font-bold text-xl mb-2"><%= post.title %></div>
          <% end %>
          <p class="text-gray-700 text-base">
            <%= post.content %>
          </p>
          <p class="uppercase text-gray-500 text-xs mt-2"><%= post.published_at.present? ? l(post.published_at, format: :default) : '' %></p>
        </div>
        <!--
        <div class="px-6 py-4">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
        </div>
        -->
      </div>
    </div>
  </a>
<% end %>
