<div class="flex justify-center mb-4">

  <div class="max-w-xl rounded overflow-hidden shadow-lg">
    <% if post.photos.any? %>
      <%= image_tag post.photos.first.file_url(:m_square), class: "w-full" %>
    <% end %>
    <div class="px-6 py-4">
      <% if post.title.present? %>
        <div class="font-bold text-xl mb-2"><%= post.title %></div>
      <% end %>
      <p class="text-gray-700 text-base">
        <%= post.content %>
      </p>
      <div class="mt-2">
      <% post.labels.each do |label| %>
        <%= render 'read/label', label: label %>
      <% end %>
    </div>
      <a class="u-url float-right text-xs" href="/read/<%= post.slug %>">permalink</a>
      <p class="uppercase text-gray-500 text-xs mt-2"><%= post.published_at.present? ? l(post.published_at, format: :default) : '' %></p>
    </div>
  </div>
</div>
