<div class="h-entry flex justify-center mb-5">

  <div class="max-w-xl w-full bg-white">
    <div class="px-6 py-4">
      <a class="u-url float-right text-xs" href="/read/<%= @post.slug %>">permalink</a>
      <div class="h-card p-author flex items-center" rel="author">
        <% if @post.published_at.present? %>
          <time class="dt-published uppercase text-gray-500 text-xs mt-2" datetime="<%= @post.published_at.strftime("%Y-%m-%dT%H:%M:%S") %>"><%= l(@post.published_at, format: :default) %></time>
        <% end %>
      </div>

      <% if @post.title.present? %>
        <div class="font-bold text-xl mb-2"><%= @post.title %></div>
      <% end %>
      <div class="e-content p-name text-gray-700 text-base mt-3">
        <%= @post.content %>
      </div>

      <div class="mt-2">
      <% @post.labels.each do |label| %>
        <%= render 'read/label', label: label %>
      <% end %>
      </div>
    </div>
  </div>
</div>