<% if @post.errors.any? %>
  <%= @post.errors.full_messages %>
<% end %>
<%= form_with model: @post, local: true  do |form| %>
  <p class="mb-4">
    <%= form.label :category, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.select :category, Post.categories.keys %>
  </p>

  <p class="mb-4">
    <%= form.label :design, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.select :design, Design.all %>
  </p>


  <p class="mb-4">
    <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </p>

  <p class="mb-4">
    <%= form.label :images, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.file_field :images, multiple: true %>
  </p>

  <p class="mb-4">
    <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.rich_text_area :content %>
  </p>

  <p class="mb-4">
    <%= form.label :published_at, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :published_at, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </p>


  <p class="mb-4">
    <%= form.check_box :published %>
    <%= form.label :published, class: "text-gray-700 text-sm font-bold mb-2" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
