<div class="max-w-3xl rounded overflow-hidden shadow-lg">
  <div class="flex m-3 ">
    <div class="flex-grow p-2">
      <div>
        <% if post.published_at.present? %>
          <time class="dt-published uppercase text-gray-500 text-xs mt-2" datetime="<%= post.published_at.strftime("%Y-%m-%dT%H:%M:%S") %>"><%= l(post.published_at, format: :default) %></time><br>
        <% end %>
        <% if post.title.present? %>
          <div><%= link_to post.title, edit_post_path(post) %></div>
        <% end %>
        <%= truncate(post.content.to_plain_text, length: 100) %>
      </div>
      <div>
        <% post.photos.each do |photo| %>
          <%= image_tag photo.file_url(:s_square), class: "inline mr-1" %>
        <% end %>
      </div>
      <div>
        <% post.labels.each do |label| %>
          <%= render 'labels/label', label: label %>
        <% end %>
        <span class="my-label">design: <%= post.design %></span>
        <% unless post.published %>
          <span class="my-label text-red-700">DRAFT</span>
        <% end %>
        <span class="my-label"><%= link_to "#{Ahoy::Event.where_event("Post viewed", post_id: post.id).count} views", post_stats_path(post) %></span>
      </div>
      
    </div>
    <div class="flex-1 p-2 text-right">
      <%= link_to 'view', "/read/#{post.slug}" %>
      <%= link_to 'edit', edit_post_path(post) %>
      <%= link_to 'delete', post_path(post), method: :delete, data: {confirm: 'delete?'} %>
    </div>
  </div>
</div>