<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>linnedude.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-100">
    <div class="p-6"><%= yield %></div>
    <% if current_user %>
      <div class="footer">
        Logged in: <%= current_user.email %>        
        <span style="margin-left: 25px" ><%= link_to "New post", new_post_path %></span>
        <a style="margin-left: 25px" href="/posts">All Posts</a>
        <a style="margin-left: 25px"  href="/labels">All Labels</a>
        <span style="margin-left: 25px" ><%= I18n.locale %></span>
        <span style="margin-left: 25px" ><%= link_to "Sign out", sign_out_path, method: :delete %></span>
      </div>

    <% end %>

  </body>
</html>
